In [ ]:
1+5

In [ ]:
my_list = [1,2,3,4,5,6]
for num in my_list:
    if(num%2 !=0):
        print(num)
    else:
        print(f'the odd number:{num}')

In [ ]:
x = 0
while x < 5:
    print(f'the valueof x is: {x}')
    x = x + 1

In [ ]:
x = 0

while x < 5:
    print(f'the valueof x is: {x}')
    
    x = x + 1

In [ ]:
1+1

In [ ]:
word = 'abcde'

for index,value in enumerate (word):
    print(index)
    print(value)

In [ ]:
my_list = [1,2,3]
my_list2 = ['a','b','c']
my_list3 = [100,200,300]

for item in zip(my_list,my_list2,my_list3):
    print(item)

In [ ]:
'o' in ['x', 'y', 'z']

In [ ]:
from random import randint
##my_list = [1,2,3,4,5,6,7]
pass
randint(0,100)

In [ ]:
result = input('wt is u r name:')

In [ ]:
result

In [ ]:
type(result)

In [ ]:
type(result)

In [ ]:
result = input('wt is u r num:')

In [ ]:
result

In [ ]:
float(result)

In [ ]:
mt_list = [1,2,3,4,5]
list = []
for num in mt_list:
        list.append(num)

In [ ]:
list

In [ ]:
my_list = [1,2,3,4,5]
list = [num*2-1 for num in my_list]

In [ ]:
list

In [ ]:
list = [ num if num%2==0 else 'odd' for num in range (0,11) ]

In [ ]:
list

In [ ]:
my_list = []
for x in [1,2,3]:
    for y in [4 ,5,6]:
        my_list.append(x*y)

In [ ]:
my_list

In [ ]:
st = 'Print only the words that start with s in this sentence'
for word in st.split():
   if word[0] == 's':
        print(word)

In [ ]:
list = [num for num in range (0,10) if num%2 == 0]

In [ ]:
list

In [ ]:
list = [range(0,11,2)]

In [ ]:
list

In [ ]:
for num in range (0,11,2):
    print(num)

In [ ]:
range(0,11,2)

In [ ]:
list(range(0,11,2))

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

for word  in st.split():
    if len(word) %2 ==0:
        print(word+  ' is even!')
    else:
        print(word+ ' is odd')

In [ ]:
for num in range (1,100):
    if num % 3 == 0 and num % 5 == 0:
        print('fuzzbuzz')
    elif num % 3 == 0:
        print('fuzz')
    elif num % 5 == 0:
        print('buzz)')
    else:
        print(num)

In [ ]:
st = 'Create a list of the first letters of every word in this string'
st.split()
for word in st.split():
    list = print(word[0])
    list

In [ ]:
st = 'Create a list of the first letters of every word in this string'
st.split()
list = [word[0] for word in st.split()]

In [ ]:
list

In [ ]:
def add_num():
    print('hello')

In [ ]:
add_num()

In [ ]:
def sum_num(num1,num2):
    return num1+num2

In [ ]:
result=sum_num(1,2)

In [ ]:
result

In [ ]:
def sum_num(num1,num2):
    print (num1+num2)

In [ ]:
result = sum_num(8,8)

In [ ]:
result

In [ ]:
type(result)

In [ ]:
def sum_a(num1,num2):
    print (num1+num2)
    return(num1+num2)

In [ ]:
result = sum_a(5,4)

In [ ]:
type(result)

In [ ]:
result

In [ ]:
def even_check(num_list):
    for num in num_list:
        if num % 2 == 0:
            return True
        else:
            pass
    return False

In [ ]:
even_check([1,3,5,4])

In [ ]:
def even_count(num_list):
    even_num=[]
    for num in num_list:
        if num % 2== 0:
            even_num.append(num)
        else:
            even_num.append(0)
    return even_num

In [ ]:
even_count([2,3,4,5,6])

In [ ]:
working_hours = ('mouni',200),('Vamsi',500),('balaji',600)
def emp_maximum (working_hours):
    current_hour = 0 
    employee_name = ''
    
    for employee,hours in working_hours:
        if hours > current_hour:
            current_hour = hours
            employee_name = employee
            
          
        else:
            pass
        
    return current_hour,employee_name

In [ ]:
hour , emp = emp_maximum(working_hours)

In [ ]:
hour

In [ ]:
emp

In [ ]:
stock_mar = [('micro',500),('fb',800)]
def stock_max(stock_mar):
    for com,val in stock_mar:
        current_val = 0
        if val > 200:
             current_val=val
        else:
            pass
    return current_val

In [ ]:
stock_max(stock_mar)

In [ ]:
my_list =['' ,'0','']

In [ ]:
from random import shuffle
shuffle(my_list)

In [ ]:
my_list

In [ ]:
def shuffle_list(my_list):
    suffle(my_list)
    return my_list

In [ ]:
def play_guess():
    guess = ''
    while guess not in ['0','1','2']:
        guess = input("tell one number in 0,1or 2")
    return int(guess)

In [ ]:
play_guess()

In [ ]:
shuffle_list(my_list)

In [ ]:
my_list = ['0','1','2']

In [ ]:
my_list

In [ ]:
from random import shuffle

In [ ]:
def shuffle_list(my_list):
    shuffle(my_list)

In [ ]:
shuffle_list(my_list)

In [ ]:
example= [1,2,3,4,5]

In [ ]:
example

In [ ]:
from random import shuffle

example

In [ ]:
shuffle(example)

In [ ]:
my_list = ['0','','']

In [ ]:
my_list

In [ ]:
def shuffle_list(my_list):
    shuffle(my_list)
    return (my_list)

In [ ]:
my_list

In [ ]:
shuffle_list(my_list)

In [ ]:
def play_guess():
    guess = ''
    while guess not in ['0','1','2']:
        guess = input("tell one number in 0,1or 2")
    return int(guess)

In [ ]:
 play_guess()

In [ ]:
def check_guess(my_list,guess):
    if my_list[guess] == '0':
        print('correct')
    else:
        print('not guesscorrect')

In [ ]:
my_list = ['0','','']
mixed_list = shuffle_list(my_list)
guess = play_guess() 
check_guess = (mixed_list,guess)

In [ ]:
def my_func(a):
    if a == True:
        return 'inside'
    else:
    
       return 'outside'

In [ ]:
my_func(-1)

In [ ]:
my_func(True)

In [ ]:
my_func(False)

In [ ]:
def my_func(x,y,z):
    if z == True:
           return x
    elif z == False:
            return y
    else:
        return z

In [ ]:
my_func('hello','hi','hiii')

In [ ]:
def my_func(a,b):
    return a%b

In [ ]:
my_func(4,4)

In [ ]:
def is_even(a):
    if a % 2 == 0:
        return True
    else:
        return False

In [ ]:
is_even(5)

In [ ]:
def is_greater(a,b):
    if a > b :
        return True
    else:
         return False

In [ ]:
is_greater(4,9)

In [ ]:
is_greater(5,1)

In [ ]:
def my_func(*args):
    #return sum(args)
    print(len(args))

In [ ]:
my_func(12,13,15,6)

In [ ]:
def my_func(*args):
    if args % 2 == 0:
        return args

In [ ]:
my_func(1,2,3)

In [ ]:
def my_func(string):
    for letter in string:
        if letter[0] %2 == 0:
            return letter.upper()
        else:
            return letter.lower()

In [ ]:
my_func('mOUniKahs')

In [ ]:
def rab_check(num,low,high):
    if num in range(low,high+1):
        print(f'yes {num} in range of low and high')
    else:
        print('false')

In [ ]:
rab_check(10,2,7)

In [ ]:
def low_str ():
    count = 0
    count1 = 0
    s = 'Mounika Is a*%@ Good Girl'
    for char in s:
        if char.isupper():
            count +=1
        elif char.islower():
            count1 += 1
        else:
            pass
    print(count)
    print(count1)

In [ ]:
low_str()

In [ ]:
def unique_list(lst):
    x = []
    for num in lst:
        if num not in x:
            x.append(num)
    return x

In [ ]:
unique_list([1,1,2,3,4,4,4,5,6,7,7,8,8,8,9])

In [ ]:
def unique_key(lst):
    
    return list(set(lst))

In [ ]:
unique_key([1,1,2,3,4,4,4,5,6,7,7,8,8,8,9])

In [ ]:
set([1,1,2,3])

In [ ]:
def mul(lst):
    count = 1
    for num in lst:
        count += count* num
    return count

In [ ]:
mul([2,-3,-4])

In [ ]:
mul([2,-3,-4])

In [ ]:
def pali(a):
   
    a = a.replace(' ', '')
    return a == a[::-1]

In [ ]:
pali('nu rs es r un ')

In [ ]:
import string
def pangrm(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    str1 = str1.replace(' ', '')
    str1 = str1.lower()
    str1 = set(str1)
  
    return alphaset == str1

In [ ]:
pangrm("the quick brown fox jumps over lazy dog")

In [ ]:
n = int(input())
for i in range(0,n):
    a= i*i
    print(a)

In [ ]:
sqt_root(5)

In [3]:
def sub_str(s,s2):
    count = 0
    for i in range(len(s)):
        
        if s.startswith(s2,i):
                count+=1
        else:
                pass
    return count

In [4]:
sub_str('abcdcdc','cdc')

2